/* .undefined:valid {
	box-shadow: 0;
	border-color: #ced4da;
}

.invalid:invalid {
} */

/* .react-select .is-invalid,
.react-datepicker .is-invalid {
	border: 1px solid red;
	border-radius: 5px;
	box-shadow: 0 0 .5em orangered;
} */

/* .react-select.is-valid, {

} */
