aside {
	width: 500px;

	margin: 0 10px 0 10px;

	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;
}

strong {
	height: 40px;
	font-size: 30px;
	margin-bottom: 25px;
	text-align: center;
	display: block;
	color: #333;
}

hr {
	border-left: 1px solid #FF6D00;
	height: 600px;
	align-self: center;
	justify-self: center;
	margin: 0 5px 0 5px;
}

main {
	height: 100vh;
	width: 1100px;
	min-width: 850px;

	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;
}

#save-chart {
	display: flex;
	margin: 15px 0 20px 0;
	justify-self: staren;
}

@media(max-width: 1000px) {
    #root {
		flex-direction: column;
		justify-content: center;
		align-content: center;
    }
	aside, main {
		width: 100vw;
	}
	hr {
		height: 0;
		width: 850px;
		border-left: 0;
		border-top: 1px solid #FF6D00;
		margin: 20px 0 10px 0;
	}
}
